<configuration>

    //appender specifies where the logs should be printed - in terminal or in file
    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
                %d{HHmmm:ss.SSS} [%thread] %-5level{36} -%msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            journalApp.log
        </file>
        <rollingpolicy>
            <fileNamePattern>journalApp  900 111d-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingpolicy>

        <encoder>
            <pattern>
                %d{HHmmm:ss.SSS} [%thread] %-5level{36} -%msg%n
            </pattern>
        </encoder>
    </appender>

    //below part specifies out of the defined logging functionalities, which should be used
    <root level = "info">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="myFileAppender"/>
    </root>

</configuration>